@import "/src/app/Components/homemain/homemain.component.scss";
.text-info-item {
    & img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1rem;
    }
    & .tips-title {
        font-size: 1.125rem;
        font-weight: 600;
        line-height: 1.33;
        text-align: center;
        color: #fff;
        margin-bottom: 1rem;
    }
    & .description {
        font-size: 1rem;
        color: #fff;
        line-height: 1.33;
    }
}

.text-info {
    margin-bottom: 115px;
}
