<div class="container text-info">
    <div class="row mx-auto justify-content-between">
        <div class="col-md-3 text-info-item">
            <img src="assets/img/tips1.png" alt="tips1">
            <div class="tips-title">Luyện nói tiếng Anh thông minh</div>
            <div class="description">Thực hành luyện nói tiếng anh mỗi ngày thông qua phụ đề thông ngữ thông minh. Giúp trau dồi được khả năng phát âm tiếng anh qua việc xem phim có engsub, ngữ điệu cùng phản xạ nói cực kỳ nhanh chóng.</div>
        </div>
        <div class="col-md-3 text-info-item">
            <img src="assets/img/tips2.png" alt="tips2">
            <div class="tips-title">Chế độ luyện nghe hiệu quả</div>
            <div class="description">Cung cấp chế độ luyện nghe tiếng anh qua phim riêng biệt cho người học, nâng cao khả năng nghe cực kỳ hiệu quả mà chưa có phương pháp luyện nghe tiếng anh nào làm được.</div>
        </div>
        <div class="col-md-3 text-info-item">
            <img src="assets/img/tips3.png" alt="tips3">
            <div class="tips-title">Nâng cao vốn từ vựng tiếng Anh</div>
            <div class="description">Gia tăng vốn từ tiếng anh của bạn với vô số từ mới dùng trong giao tiếp thông qua việc xem phim phụ đề tiếng anh. Phụ đề tiếng anh song ngữ Anh-Việt giúp việc học và ghi chép từ vựng tiếng anh chưa bao giờ dễ dàng hơn.</div>
        </div>
    </div>
</div>
