@import "/src/app/app.component.scss";
#mainNav {
    min-height: 3.5rem;
    background: transparent;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    & .menu-container {
        flex-direction: column;
        display: flex;
        width: 100%;
        & .navigation-container {
            margin-left: 4%;
            margin-right: 4%;
            & .header-container {
                display: flex;
                width: 100%;
                // background: rgba($color: #000000, $alpha: 0.5);
                // --------------------- LOGO -------------------------------------
                & .nav-logo {
                    width: 205px;
                    margin-top: 0;
                    & .logo {
                        position: absolute;
                        top: 31px;
                        width: 213px;
                        height: 40px;
                    }
                }
                & ul {
                    width: 100%;
                }
                // -------------- NAVBAR --------------------------------
                & .navbar-nav {
                    margin: 0.625rem 0;
                    & li a {
                        font-size: 1rem;
                        margin-top: 1rem;
                        padding: 1rem 1.3125rem;
                        font-weight: 500;
                        line-height: 1.375rem;
                        cursor: pointer;
                        &:not(.dropdown-item) {
                            color: #fff;
                        }
                        &.btn-border {
                            display: inline-block;
                            transition: none;
                            text-align: center;
                            color: #fff;
                            margin-left: 1.4rem;
                            margin-top: 1rem;
                            text-transform: capitalize;
                            text-decoration: none;
                            background: #f2691d;
                            border-radius: 0.25rem;
                        }
                        & span {
                            text-transform: uppercase;
                        }
                    }
                    & .nav-item a {
                        &:hover {
                            padding-bottom: 0.25rem;
                            border-bottom: 0.125rem solid #1da1f2;
                        }
                    }
                    & .nav-link span {
                        margin: 0 0.5rem;
                    }
                    // ------------------- TOPICS ------------------------------
                    & .dropdown-item {
                        width: 0.9375rem;
                        margin-left: 0.2375rem;
                    }
                    & #dropdown-svg {
                        width: 1rem;
                        height: 1rem;
                        display: inline-block;
                    }
                    & #videos-modal {
                        background-color: #fff;
                        border-radius: 5px;
                        border: none;
                        top: 90%;
                        list-style: none;
                        display: none;
                        box-shadow: 0 0.125rem 0.9375rem rgb(0 0 0 / 40%);
                        min-width: 9.375rem;
                        z-index: 101;
                        padding: 1rem;
                        & .topics-menu-header {
                            margin-bottom: 1rem;
                            & .topics-menu-title {
                                margin-bottom: 0;
                                font-weight: 500;
                                padding-right: 0.375rem;
                                font-size: 16px;
                            }
                            & .line-menu {
                                flex: 1;
                                border-bottom: thin solid #979797;
                            }
                        }
                        & .topics-menu {
                            display: flex;
                            & ul {
                                display: inline-block;
                                & li {
                                    line-height: 34rem;
                                    float: left;
                                    display: inline;
                                    width: 100%;
                                    margin-top: 10px;
                                    margin-bottom: 10px;
                                    margin-right: 34px;
                                    & a {
                                        font-weight: 400;
                                        margin: 0;
                                        padding: 0;
                                        width: 100%;
                                        &:hover {
                                            background: none;
                                            color: #1da1f2;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    & #video-dropdown {
                        &:hover #videos-modal {
                            display: block;
                        }
                        &:hover .dropdown-icon {
                            & svg {
                                transform: rotate(180deg);
                                transition: transform 0.4s ease-in-out;
                            }
                        }
                    }
                    // ------- SEARCH ------------------
                    & .search-input {
                        flex: 1;
                        margin-top: 1rem;
                        padding-top: 1rem;
                        & .inputbox {
                            margin-right: 1rem;
                            justify-content: flex-end;
                            & #svg-search {
                                width: 1.5rem;
                                height: 1.5rem;
                                display: inline-block;
                                cursor: pointer;
                                transform: rotate(90deg);
                                & svg {
                                    width: 1.5rem;
                                    height: 1.5rem;
                                    fill: hsla(0, 0%, 100%, .7);
                                }
                                &:hover {
                                    & svg {
                                        fill: white;
                                    }
                                }
                            }
                            &:hover #show-search {
                                border: none;
                                width: 80%;
                                box-shadow: none;
                                outline: none;
                                border-bottom: thin solid #fff;
                            }
                            & input[type=text] {
                                width: 0%;
                                color: #fff;
                                box-sizing: border-box;
                                font-size: 20px;
                                border: none;
                                outline: none;
                                background-color: transparent;
                                -webkit-transition: width .4s ease-in-out;
                                transition: width .4s ease-in-out;
                                padding-right: 10px;
                                margin-left: 0.5rem;
                                padding-bottom: 2px;
                                &::placeholder {
                                    color: #fff;
                                }
                                &:focus {
                                    border: none;
                                    width: 80%;
                                    box-shadow: none;
                                    outline: none;
                                    border-bottom: thin solid #fff;
                                }
                            }
                            & .del {
                                position: absolute;
                                display: none;
                                outline: none;
                                border: none;
                                background: transparent;
                                width: 15px;
                                color: #fff;
                                right: 15px;
                                cursor: pointer;
                                text-align: center;
                                align-self: center;
                                font-weight: 600;
                                &::after {
                                    content: "X";
                                }
                            }
                            // & #show-search:valid+.del {
                            //     display: block;
                            // }
                        }
                    }
                }
            }
        }
    }
}

#mainNav.affix {
    position: fixed;
    top: 0;
    -webkit-backface-visibility: hidden;
    padding-bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background: #232323;
    border-color: rgba(34, 34, 34, .1);
    box-shadow: 0 0.125rem 0.25rem rgb(0 0 0 / 50%);
}
